In [247]:
import pandas as pd

import numpy as np

In [248]:
df = pd.read_csv("./DOHMH_New_York_City_Restaurant_Inspection_Results.csv")
df.head()

,DBA,BORO,CUISINE DESCRIPTION,VIOLATION CODE,SCORE,GRADE,Latitude,Longitude
0,YANKEE JZ PIZZA,Bronx,Pizza,10F,17.0,B,40.829178,-73.875707
1,ARIANA KEBAB HOUSE,Manhattan,Afghan,10B,5.0,A,40.764993,-73.987856
2,TAP NYC,Manhattan,Café/Coffee/Tea,08C,20.0,NaN,40.777716,-73.978556
3,GEORGES RESTAURANT,Brooklyn,American,10F,7.0,A,40.641088,-74.014474
4,Q & I BAKERY,Brooklyn,Bakery,06C,22.0,NaN,40.628482,-74.006099

In [249]:
df.shape

(401158, 8)

In [250]:
df.dtypes

DBA                     object
BORO                    object
CUISINE DESCRIPTION     object
VIOLATION CODE          object
SCORE                  float64
GRADE                   object
Latitude               float64
Longitude              float64
dtype: object

In [251]:
df.columns

Index(['DBA', 'BORO', 'CUISINE DESCRIPTION', 'VIOLATION CODE', 'SCORE',
       'GRADE', 'Latitude', 'Longitude'],
      dtype='object')

In [252]:
df = df.rename(columns={"DBA":"Name","BORO":"Borough", "CUISINE DESCRIPTION":"Cuisine", "VIOLATION CODE":"Violation Code", "SCORE":"Score", "GRADE":"Grade"})

df.columns

Index(['Name', 'Borough', 'Cuisine', 'Violation Code', 'Score', 'Grade',
       'Latitude', 'Longitude'],
      dtype='object')

In [253]:
df = df.dropna(subset=['Violation Code','Score', 'Grade'])
df.head()

,Name,Borough,Cuisine,Violation Code,Score,Grade,Latitude,Longitude
0,YANKEE JZ PIZZA,Bronx,Pizza,10F,17.0,B,40.829178,-73.875707
1,ARIANA KEBAB HOUSE,Manhattan,Afghan,10B,5.0,A,40.764993,-73.987856
3,GEORGES RESTAURANT,Brooklyn,American,10F,7.0,A,40.641088,-74.014474
7,ROBERTA'S PIZZA & BAKERY,Brooklyn,Pizza,10F,9.0,A,40.704818,-73.934015
8,"DUNKIN', BASKIN ROBBINS",Manhattan,Donuts,10B,9.0,A,40.750971,-73.996492

In [254]:
df.shape

(202207, 8)

In [255]:
df = df[df.Latitude != 0]
df = df[df.Longitude != 0]
df.shape

(199318, 8)

In [256]:
df.head()

,Name,Borough,Cuisine,Violation Code,Score,Grade,Latitude,Longitude
0,YANKEE JZ PIZZA,Bronx,Pizza,10F,17.0,B,40.829178,-73.875707
1,ARIANA KEBAB HOUSE,Manhattan,Afghan,10B,5.0,A,40.764993,-73.987856
3,GEORGES RESTAURANT,Brooklyn,American,10F,7.0,A,40.641088,-74.014474
7,ROBERTA'S PIZZA & BAKERY,Brooklyn,Pizza,10F,9.0,A,40.704818,-73.934015
8,"DUNKIN', BASKIN ROBBINS",Manhattan,Donuts,10B,9.0,A,40.750971,-73.996492

In [257]:
df.loc[df.Score == 100, 'Grade'] == "Closed"
df.loc[df.Score > 100, 'Grade'] == "Closed"
df.head()

,Name,Borough,Cuisine,Violation Code,Score,Grade,Latitude,Longitude
0,YANKEE JZ PIZZA,Bronx,Pizza,10F,17.0,B,40.829178,-73.875707
1,ARIANA KEBAB HOUSE,Manhattan,Afghan,10B,5.0,A,40.764993,-73.987856
3,GEORGES RESTAURANT,Brooklyn,American,10F,7.0,A,40.641088,-74.014474
7,ROBERTA'S PIZZA & BAKERY,Brooklyn,Pizza,10F,9.0,A,40.704818,-73.934015
8,"DUNKIN', BASKIN ROBBINS",Manhattan,Donuts,10B,9.0,A,40.750971,-73.996492

In [258]:
codedf = pd.read_csv("./ViolationCodes.csv")
codedf.head()

,Violation Code,Violation Group,Violation Description,Maximum Penalty
0,02A,2,Food temperature storage violation,600
1,02B,2,Food temperature storage violation,600
2,02C,2,Food temperature storage violation,300
3,02D,2,Food temperature storage violation,300
4,02E,2,Food temperature storage violation,200

In [259]:
codedf.set_index('Violation Code')

,Violation Group,Violation Description,Maximum Penalty
Violation Code,,,
02A,2,Food temperature storage violation,600
02B,2,Food temperature storage violation,600
02C,2,Food temperature storage violation,300
02D,2,Food temperature storage violation,300
02E,2,Food temperature storage violation,200
...,...,...,...
22B,22,Failure to take reasonable precautions to prot...,200
22C,22,Failure to take reasonable precautions to prot...,200
22E,22,Failure to take reasonable precautions to prot...,200
22F,22,Failure to take reasonable precautions to prot...,1000
22G,22,Failure to take reasonable precautions to prot...,200

In [260]:
mergeddf = pd.merge(df, codedf, on='Violation Code')
mergeddf

,Name,Borough,Cuisine,Violation Code,Score,Grade,Latitude,Longitude,Violation Group,Violation Description,Maximum Penalty
0,YANKEE JZ PIZZA,Bronx,Pizza,10F,17.0,B,40.829178,-73.875707,10,Facility and machinery related,200
1,GEORGES RESTAURANT,Brooklyn,American,10F,7.0,A,40.641088,-74.014474,10,Facility and machinery related,200
2,ROBERTA'S PIZZA & BAKERY,Brooklyn,Pizza,10F,9.0,A,40.704818,-73.934015,10,Facility and machinery related,200
3,THAI BKK,Manhattan,Thai,10F,23.0,B,40.802967,-73.938432,10,Facility and machinery related,200
4,MORNING GLORY BAKERY,Queens,Bakery,10F,12.0,A,40.728130,-73.863607,10,Facility and machinery related,200
...,...,...,...,...,...,...,...,...,...,...,...
199313,FOUR SEASONS HOTEL,Manhattan,American,03G,11.0,A,40.762051,-73.971793,3,Food not from an approved source,300
199314,SONNIER & CASTLE,Manhattan,American,06I,58.0,N,40.764277,-73.994758,6,Food worker or worker cleaning responsibilitie...,350
199315,LE COQ RICO,Manhattan,French,06I,65.0,Z,40.738929,-73.989221,6,Food worker or worker cleaning responsibilitie...,350
199316,DEBORAH MILLER,Manhattan,American,06I,22.0,B,40.711718,-74.000606,6,Food worker or worker cleaning responsibilitie...,350
199317,NEW YORK STOCK EXCHANGE,Manhattan,American,04I,12.0,A,40.707392,-74.011106,4,"Food contamination with other foods, people, o...",300

In [261]:
grouped = mergeddf.groupby('Grade').count()
grouped

,Name,Borough,Cuisine,Violation Code,Score,Latitude,Longitude,Violation Group,Violation Description,Maximum Penalty
Grade,,,,,,,,,,
A,156924,156924,156924,156924,156924,156735,156735,156924,156924,156924
B,24844,24844,24844,24844,24844,24823,24823,24844,24844,24844
C,9271,9271,9271,9271,9271,9257,9257,9271,9271,9271
G,6,6,6,6,6,6,6,6,6,6
N,2568,2568,2568,2568,2568,2567,2567,2568,2568,2568
P,2392,2392,2392,2392,2392,2384,2384,2392,2392,2392
Z,3313,3313,3313,3313,3313,3310,3310,3313,3313,3313