In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./DOHMH_New_York_City_Restaurant_Inspection_Results.csv")
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,40372631,YANKEE JZ PIZZA,Bronx,1599,WESTCHESTER AVENUE,10472.0,7183284349,Pizza,03/06/2018,Violations were cited in the following area(s).,...,03/02/2020,Cycle Inspection / Re-inspection,40.829178,-73.875707,209.0,18.0,5400.0,2025317.0,2.037760e+09,BX08
1,40868400,ARIANA KEBAB HOUSE,Manhattan,787,9 AVENUE,10019.0,2122622323,Afghan,08/20/2019,Violations were cited in the following area(s).,...,03/02/2020,Cycle Inspection / Initial Inspection,40.764993,-73.987856,104.0,3.0,13300.0,1082418.0,1.010620e+09,MN15
2,50064218,TAP NYC,Manhattan,267,COLUMBUS AVE,10023.0,9175957012,Café/Coffee/Tea,10/10/2018,Violations were cited in the following area(s).,...,03/02/2020,Cycle Inspection / Initial Inspection,40.777716,-73.978556,107.0,6.0,15700.0,1028631.0,1.011250e+09,MN14
3,40571528,GEORGES RESTAURANT,Brooklyn,5701,5 AVENUE,11220.0,7184391403,American,06/08/2017,Violations were cited in the following area(s).,...,03/02/2020,Cycle Inspection / Initial Inspection,40.641088,-74.014474,307.0,38.0,10200.0,3015722.0,3.008480e+09,BK34
4,50071397,Q & I BAKERY,Brooklyn,6516,11TH AVE,11219.0,7182382638,Bakery,04/15/2019,Violations were cited in the following area(s).,...,03/02/2020,Cycle Inspection / Initial Inspection,40.628482,-74.006099,310.0,38.0,21200.0,3142182.0,3.057510e+09,BK30

In [6]:
df.shape

(401346, 26)

In [7]:
 df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')